<div class="skins-carousel hidden">
  {{#invoke:SkinsCarousel|main}}
  <div class="skins-carousel__prev-button skins-carousel__nav-button"></div>
  <div class="skins-carousel__next-button skins-carousel__nav-button"></div>
</div>
<div class="mobile--skins-carousel" style="display: none;">
  <span class="mobile--skins-carousel__info"
    >Arraste para os lados para ver mais skins</span
  >
  <div class="mobile--skins-carousel__name-container"></div>
  <ul class="mobile--skins-carousel__slider">
    {{#invoke:SkinsCarousel|mobile}}
  </ul>
</div>

<noinclude>
{{SkinsCarousel
|nome 1 = Padrão
|skin 1 = Umild.Skin.png
|descrição 1 = Umild usa um conjunto de camiseta de manga longa e calças pretas, um sobretudo preto com detalhes em azul, luvas sem dedos pretas e sapatos brancos. Ele sempre usa uma touca branca com pequenas orelhas apontadas para cima, sua marca registrada que o segue em todas as skins, cobrindo seu cabelo castanho de tamanho médio. Umild tem olhos castanhos e pele branca.

|nome 2 = Roupa de Proteção
|skin 2 = Umild skin roupa de proteção.png
|descrição 2 = Para ir as backrooms à trabalho, Umild usa uma roupa de proteção amarela onde cobre maior parte do seu corpo. A roupa tem detalhes em preto como as luvas, suspensórios e suas botas. \n\nUmild usa sua touca branca, mas agora com a adição de uma máscara de gás.

|nome 3 = Cientista
|skin 3 = UmildLab.Skin.png
|descrição 3 = Quando está trabalhando, Umild usa um jaleco branco por cima de uma camisa social azul, calças azul escuro e sapatos pretos. \n\nDesta vez, sua marca registrada, a touca, não está presente, apenas um óculos de grau com armação preta. Seus cabelos castanhos estão em seu penteado habitual — soltos.

|nome 4 = Dr. Rodrigo
|skin 4 = Dr Rodrigo.png
|descrição 4 = Dr. Rodrigo usa um jaleco branco cobrindo uma camisa de gola alta preta, junto de calças também pretas e sapatos da mesma cor com alguns detalhes em branco. \n\nRodrigo também usa a toca branca com orelhas, tal qual os seus outros primos.

|nome 5 = Roberto (antes)
|skin 5 = UmildRobertoAntigo.Skin.png
|descrição 5 = Roberto usa um terno azul escuro junto com calças da mesma cor e uma camiseta social rosa, acompanhados por um cinto e sapatos pretos, uma gravata com lenço de bolso amarelos e um relógio dourado no pulso.

|nome 6 = Pierre
|skin 6 = Pierre.Skin.png
|descrição 6 = Pierre usa um macacão azul jeans com uma camisa branca por baixo e usa tênis brancos. Por ser um pintor, Pierre tem manchas de tinta por todo o seu corpo.

|nome 7 = Episódio de Praia
|skin 7 = UmildPraia.Skin.png
|descrição 7 = Para o Episódio de Praia, Umild usou apenas um short cinza e uma corrente de ouro no pescoço.

|nome 8 = Roberto
|skin 8 = UmildRoberto.Skin.png
|descrição 8 = Roberto usa um terno azul escuro junto com calças da mesma cor e uma camiseta social rosa, acompanhados por um cinto e sapatos pretos, uma gravata com lenço de bolso amarelos e um relógio dourado no pulso.
</noinclude>
