<div class="hotbar">
  <div class="hotbar__item {{#if:{{{nome 1|}}} | active }}">
    <div class="hotbar__item--details">
      <span>{{{nome 1|}}}</span>
      <p>{{{descrição 1|}}}</p>
    </div>
    {{#if:{{{imagem 1|}}} | [[Arquivo:{{{imagem 1|}}}]] }}
  </div>
  <div class="hotbar__item {{#if:{{{nome 2|}}} | active }}">
    <div class="hotbar__item--details">
      <span>{{{nome 2|}}}</span>
      <p>{{{descrição 2|}}}</p>
    </div>
    {{#if:{{{imagem 2|}}} | [[Arquivo:{{{imagem 2|}}}]] }}
  </div>
  <div class="hotbar__item {{#if:{{{nome 3|}}} | active }}">
    <div class="hotbar__item--details">
      <span>{{{nome 3|}}}</span>
      <p>{{{descrição 3|}}}</p>
    </div>
    {{#if:{{{imagem 3|}}} | [[Arquivo:{{{imagem 3|}}}]] }}
  </div>
  <div class="hotbar__item {{#if:{{{nome 4|}}} | active }}">
    <div class="hotbar__item--details">
      <span>{{{nome 4|}}}</span>
      <p>{{{descrição 4|}}}</p>
    </div>
    {{#if:{{{imagem 4|}}} | [[Arquivo:{{{imagem 4|}}}]] }}
  </div>
  <div class="hotbar__item {{#if:{{{nome 5|}}} | active }}">
    <div class="hotbar__item--details">
      <span>{{{nome 5|}}}</span>
      <p>{{{descrição 5|}}}</p>
    </div>
    {{#if:{{{imagem 5|}}} | [[Arquivo:{{{imagem 5|}}}]] }}
  </div>
  <div class="hotbar__item {{#if:{{{nome 6|}}} | active }}">
    <div class="hotbar__item--details">
      <span>{{{nome 6|}}}</span>
      <p>{{{descrição 6|}}}</p>
    </div>
    {{#if:{{{imagem 6|}}} | [[Arquivo:{{{imagem 6|}}}]] }}
  </div>
  <div class="hotbar__item {{#if:{{{nome 7|}}} | active }}">
    <div class="hotbar__item--details">
      <span>{{{nome 7|}}}</span>
      <p>{{{descrição 7|}}}</p>
    </div>
    {{#if:{{{imagem 7|}}} | [[Arquivo:{{{imagem 7|}}}]] }}
  </div>
  <div class="hotbar__item {{#if:{{{nome 8|}}} | active }}">
    <div class="hotbar__item--details">
      <span>{{{nome 8|}}}</span>
      <p>{{{descrição 8|}}}</p>
    </div>
    {{#if:{{{imagem 8|}}} | [[Arquivo:{{{imagem 8|}}}]] }}
  </div>
  <div class="hotbar__item {{#if:{{{nome 9|}}} | active }}">
    <div class="hotbar__item--details">
      <span>{{{nome 9|}}}</span>
      <p>{{{descrição 9|}}}</p>
    </div>
    {{#if:{{{imagem 9|}}} | [[Arquivo:{{{imagem 9|}}}]] }}
  </div>
</div>

<noinclude>
  {{Hotbar |nome 1=Espada de Diamante |descrição 1=Uma espada azul e afiada
  |nome 2=Machado de diamante |descrição 2=Um machado azul e afiado, capaz de
  cortar até a mais dura árvore. |nome 3=Balde de água |nome 8=Tocha |nome 9=Pão
  }}
</noinclude>
