<div class="paginated-book hidden" data-actual-page="1">
  {{#invoke:PaginatedBook|main}}
  <div class="paginated-book__prev paginated-book__nav"></div>
  <div class="paginated-book__next paginated-book__nav"></div>
</div>
<div style="display: none;">{{Book|{{#invoke:PaginatedBook|mobile}}|}}</div>

<noinclude>
  {{PaginatedBook|Mussum Ipsum, cacilds vidis litro abertis. Detraxit consequat
  et quo num tendi nada. Copo furadis é disculpa de bebadis, arcu quam euismod
  magna. Atirei o pau no gatis, per gatis num morreus. Morbi viverra placerat
  justo, vel pharetra turpis. Morbi viverra placerat justo, vel ph.|Mussum
  Ipsum, cacilds vidis litro abertis. Detraxit consequat et quo num tendi nada.
  Casamentiss faiz malandris se pirulitá. Suco de cevadiss, é um leite divinis,
  qui tem lupuliz, matis, aguis e fermentis. Tá deprimidis, eu conheço uma
  cachacis que pode alegrar sua vidis.|Suco de cevadiss, é um leite divinis, qui
  tem lupuliz, matis, aguis e fermentis.\n\nQuem num gosta di mé, boa gentis num
  é. Admodum accumsan disputationi eu sit.}}
</noinclude>
